@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;1,400&family=Roboto+Slab&display=swap");
:root {
  --main-color:#a31111;
  --black:#1a1413;
  --bg:#030101;
  --border:.1rem solid rgba(255, 255, 255,.3);
}

* {
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: none;
  transition: 0.2s linear;
}

html {
  font-size: 70.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}

body {
  background: var(--bg);
}

section {
  padding: 2rem;
}

.heading{
  text-align: center;
  color: #ededed;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}
.heading span{
  color: var(--main-color);
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: rgb(245, 245, 245);
  background: var(--main-color);
  cursor: pointer;
}

.btn:hover {
  letter-spacing: 0.11rem;
  background: #fe8282;
}

footer {
  padding-top: 1em;
  font-weight: bold;
  font-size: 1.2em;
  color: #ca1010;
}

.header {
  padding-left: 3.5rem!important;
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img {
  height: 10rem;
  width: 14rem;
  overflow: hidden;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #fff;
}

.header .navbar a:hover {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  padding-bottom: 0.5rem;
  text-decoration: none;
}

.header .icons div {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: var(--main-color);
}

#menu-btn {
  display: none;
}

.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}

.header .search-form.active {
  transform: scaleY(1);
}

.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem;
  text-transform: none;
}

.header .search-form label {
  cursor: pointer;
  font-size: 2.1rem;
  margin-right: 1.5rem;
  color: var(--black);
}

.header .search-form label:hover {
  color: var(--main-color);
}

.header .cart-items-container {
  position: absolute;
  top: 100%;
  right: -100%;
  height: calc(100vh - 9.5rem);
  width: 35rem;
  background-image: linear-gradient(to right, rgb(21, 23, 29) 0%, #08080c 100%);
  border-top: var(--border);
  border-left: var(--border);
  padding: 0 1.5rem;
  transition: 0.5s;
}

.header .cart-items-container.active {
  right: 0;
}

.header .cart-items-container .cart-item {
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.3);
}

.header .cart-items-container .cart-item .fa-times:hover {
  color: var(--main-color);
}

.header .cart-items-container .cart-item img {
  height: 7rem;
}

.header .cart-items-container .cart-item .content h3 {
  font-size: 2rem;
  color: var(--black);
  padding-bottom: 0.5rem;
  color: rgb(240, 240, 245);
}

.header .cart-items-container .cart-item .content .price {
  font-size: 1.4rem;
  color: var(--main-color);
}

.header .cart-items-container .btn {
  width: 100%;
  text-align: center;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.829)), url("/imagenes/gim.png");
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 60rem;
}

.home .content h3 {
  font-size: 5rem;
  text-transform: uppercase;
  color: #852121;
}

.home .content p {
  font-size: 1.32rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #eee;
}


.about{
  padding-top: 3.3em;
}
.about .row{
  display: flex;
  align-items: center;
  background: var(--black);
  flex-wrap: wrap;
}

.about .row .image{
  flex:1 1 45rem ;
  }  

.about .row .img img{
  width: 100%;
}

.about .row .content{
flex:1 1 45rem ;
padding: 2rem;
}

.about .row .content h3{
  font-size: 3rem;
  color: #ededed;
}

.about .row .content p{
  font-size: 1.7rem;
  color: #ccc;
  padding:1rem 0;
  line-height: 1.8;
}














@media (max-width: 950px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
}
@media (max-width: 770px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: rgb(245, 245, 245);
    background-image: linear-gradient(to right, rgb(21, 23, 29) 0%, #08080c 100%);
    width: 30rem;
    border-top: var(--border);
    border-left: var(--border);
    height: calc(100vh - 9.5rem);
    transition: 0.5s;
    display: grid;
    grid-row: auto;
  }
  .header .navbar.active {
    right: 0;
    transition: 0.5s;
    display: grid;
    grid-row: 1fr 1fr 1fr 1fr 1fr;
  }
  .header .navbar a {
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    color: aliceblue;
  }
  .header .search-form {
    width: 90%;
    right: 2rem;
    transition: 0.5s;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}/*# sourceMappingURL=style.css.map */